@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Inter&family=Raleway:ital,wght@0,200;0,500;0,600;0,700;1,800&display=swap');

body{
    background-color: #100d54;
}
.container-box{
    position: absolute;
    text-align: center;
    justify-content: center;
}
.container-box h2{
    margin-top: 0;
    padding-top: 150px;
    margin-left: 2200px;
    font-family: 'Exo';
font-style: normal;
font-weight: 600;
font-size: 58px;
line-height: 53px;


color: #FFFFFF;

}
.container-box h1{
    padding-top: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 106px;
    line-height: 75px;
    margin-bottom: 150px;
    color: #FFFFFF;

}
.radio-tile-group{
    margin-right: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images{
position: relative;
margin: 150px;

}
.images input{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    cursor: pointer;
    opacity: 0;
    
}
.radio-tile{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
border-radius: 30px;

    
}

.btn-logout{
    position: absolute;
   margin-top: 100px;
   font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 52px;
line-height: 61px;
margin-left: -80px;
text-decoration: none;
color: #FDDE30;
}

 input:checked + .radio-tile{
    box-shadow: 0 0 30px #000000;
}
.btn{
    width: 100%;
    text-align: center;
    height: 100vh;
}
.putmood{
    margin: 50vh;
    height: 60px;
    width: 120px;

}
.putmood span{
    background: #efd232;
    border: 1px solid #efd232;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    transform: scale(0);
}

.putmood span:nth-child(1){
    top: 45%;
    right: 49.5%;

}
.putmood span:nth-child(2){
    top: 48%;
    left: 46%;
    background: transparent;
}
.putmood span:nth-child(3){
    bottom: 42%;

}
.putmood span:nth-child(4){
    top: 48%;
    right: 46%;
    background: transparent;
}
.putmood span:nth-child(5){
    bottom: 45%;
    right: 54%;

}
.putmood span:nth-child(6){
    top: 48%;
    left: 46%;
    background: transparent;
}
.putmood span:nth-child(7){
    bottom: 42%;
    left: 48%;

}
.putmood span:nth-child(8){
    top: 53%;
    right: 45%;
    background: transparent;
}
.putmood span:nth-child(9){
    top: 48.5%;
    left: 47.5%;

}
.putmood span:nth-child(10){
    top: 43%;
    right: 57%;
    background: transparent;
}

.anim{
    animation: moving 0.5s linear reverse forwards;
}
@keyframes moving{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        top: 50%;
        left:50%;
    }
}